<h3>Admin controls page</h3> 

<h2><b>Edit or override past changes</b></h2>
<form action="/edit" method="post" id="edit">
    <input type="hidden" name="_method" value="put">
    <textarea oninput="auto_grow(this)"><%=$myInfo%></textarea>
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="Edit!">
</form>

<h2><b>User list</b></h2>
<table id = "wadtable">
<tr>
    <th>Username</th>
    <th>Date Joined</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>
<% @list2.each do |liste| %>
<br>
    <tr>
    <td><%= liste.username %></td> <td><%= liste.created_at %></td> <td><%= liste.edit %>
    <% if liste.username != "Admin" %>  
        <form action="/user/<%= liste.username %>" method="post" id="edit">
                <input type="hidden" name="_method" value="put"> 	 
                <input type="checkbox" name="edit" <%= "checked" if liste.edit %>>
                <input type="submit" value="Allow Edit?">
          </form></td>
      <% end %>
      <td><% if liste.username != "Admin" %> 
            <a href="/user/delete/<%= liste.username %>">Delete User?</a> 
          <% end %></td>
    </tr>   
<% end %>
</table>

<h2><b>Create account</b></h2>
<form action="/createaccount" method="post">   
    <input class="text-input" type="text" name="username" placeholder="Username"><br> 
    <input class="text-input" type="password" name="password" placeholder="Password"><br> 
    <input class="button" type="submit" value="Submit">   
</form>


<h2><b>Archive Homepage</b></h2>
<form action="/archive" method="post">   
    <input class="button" type="submit" value="Archive">   
</form>

<h2><b>Restore from Backup</b></h2>
<form action="/restore" method="post">   
    <input class="button" type="submit" value="Restore">   
</form>

<h2><b>Restore to Default</b></h2>
<form action="/default" method="post">   
    <input class="button" type="submit" value="Default">   
</form>
